* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-family-base; // 1
    line-height: 1.15; // 2
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%; // 3
    -webkit-text-size-adjust: 100%; // 3
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100%;
    background: #f5f5f5;
    font-size: 100%;
    height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    background: #f5f5f5;
    display: table;
    overflow: hidden;

    @media screen and (min-width: 940px) {
        display: block;
    }
}

// ------------- Header ---------------------------------------------
.header {
    color: #fff;
    font-size: 18px;
    background: #d49000;
    position: relative;
    z-index: 2;
    text-align: right;
}

.list-menu {
    list-style: none;
    display: inline-block;
    margin: 30px 0 30px 30px;

    a:hover {
        color: #eaeaea;
    }
}

// ------------- Icecu Logo ---------------------------------------------

.background-icecu {
    background-image: url("../img/background-inicio.png");
}

.backgrounds-parallax {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background-opacity {
    background-color: #eaeaea;
    width: 100%;
    height: 100%;
    opacity: 0.95;
}

.title-section {
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 35%;
    font-family: $font-family-base;
}

.title-opacity-show {
    transition: opacity 3s;
}

.title-opacity-hide {
    opacity: 0;
}

// ------------- About Section ---------------------------------------------

.about-section {
    margin: 100px 100px 200px;

    p {
        margin-top: 50px;
    }
}

// ------------- Footer ---------------------------------------------


.footer {
    background-color: #3f4359;
    width: 100%;
    padding: 30px;
}

.info-footer {
    color: #fff;
    margin-left: 50px;

    p {
        margin: 25px 0 25px 0;
    }

}