@media only screen and (max-width: 500px) {

	// Homepage
	
	// Header

    .list-menu {
    	list-style: none;
    	display: block;
    	padding: 20px 20px;
    	margin: 0;
    	text-align: center;
	}

	.title-section {
		top: 5%;
    	left: 0;
   		margin: 50px 15px;

   		h3 {
   			font-size: 20px;
   		}

   		h2 {
   			font-size: 23px;
   		}
	}

	h1 {
		margin: 0;
		margin-top: 50px;
		font-size: 23px;
	}
	
	// About Section Home

	.about-section {
		margin: 50px 15px 50px 15px;

		h2 {
			font-size: 35px;
		}
	}
	
	// Footer

	.footer {
		height: initial;
	}

	.footer-logo {
		position: initial;
	}

	.info-footer {
		position: initial;
		margin-left: 30px;
	}

	.info-footer p {
    	margin: 25px 0 25px 0;
    	font-size: 14px;
	}
	
	// Question Title/Box
	.question-title {
		display: none;
	}

	// Programa Section
	.background-programa .title-section img{
    	width: 100%;
	}

	.about-program {
   		margin: 50px 15px 50px 15px;
	}

	// Queremos escuchar Section
	.background-contact h1 {
    	color: #005F85;
    	font-size: 30px;
    	position: initial;
    	margin: 45px 10px;
	}

	.background-contact .title-section {
    	margin: 80px 0;
	}

	.info-question {
		width: 100%;
	}

	.info-contact ul {
		margin: 15px 0 30px 0;
	}
}