h1 {
	color: #D49000;
	font-size: 50px;
	text-align: center;
	margin: 100px;
}

h2 {
    font-size: 41px;
    color: #005F85;
}

h3 {
    font-size: 26px;
    color: #005F85;
} 

.background-contact {

	h1 {
		color: #005F85;
		position: absolute;
		left: 25%;
	}

}

p {
	line-height: 25px;
}

li {
	list-style: none;
	margin-bottom: 10px;
}